html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

h3 {
    text-align: center
}

#searchbar {
    padding: 100px;
    padding-left:400px;
    padding-right:400px;
    
}

#cityname {
    text-align:center
}

#temperature{
    text-align: center;
}

#description{
    text-align: center;
}